@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
    background-image: url(./images/hero-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-consult{
    background-image: url(./images/consultancy-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#b4-footer{
    background-image: url(./images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.font-size{
    font-size: 4vw;
}

.font-size-sm{
    font-size: 25px;
}

.width{
    width: 65%;
}

.search-btn{
    background-color: #F305F8;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.search-btn:hover{
    opacity: 0.9;
}

.input{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
}

.button{
    background-color: #F305F8;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.button-light{
    background-color: #fff;
    padding: 10px 30px;
    color: #F305F8;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.button-light:hover{
  background-color: black;
  opacity: 0.8;
}

.button:hover{
    opacity: 0.7;
}

.mobile{
    display: none;
}

.img-abs{
  position: absolute;
  top: 90%;
  left: 60%;
}

@media screen and (max-width:950px) {
    .width{
        width: 100%;
    }
    #second-page{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #second-page-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}


/* Hide the navigation menu by default */
nav {
    display: none;
  }
  
  /* Show the navigation menu and style the hamburger icon on mobile screens */
  @media screen and (max-width: 768px) {
    .container {
      flex-wrap: wrap;
    }
    button.hamburger {
      display: block;
      background: none;
      border: none;
      padding: 0;
    }
    .hamburger-box {
      width: 20px;
      height: 14px;
      display: inline-block;
      position: relative;
    }
    .hamburger-inner {
      width: 100%;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.2s ease;
    }
    .hamburger.is-active .hamburger-inner {
      background-color: #fff;
    }
    nav {
      display: none;
      flex-basis: 100%;
      margin-top: 1rem;
    }
    nav.visible {
      display: flex;
    }
  }
  
  /* Show the navigation menu on desktop screens */
  @media screen and (min-width: 769px) {
    nav {
      display: flex;
    }
  }
  